.main-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.img-logo-signup {
  width: 100px;
  height: 90px;
  top: 0;
  left: 0;
  position: absolute;
}

.left-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-y: scroll !important;
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.left-section ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge (Legacy) */
.left-section {
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Firefox */
.left-section {
  scrollbar-width: none; /* Firefox */
}
.right-section {
  width: 50%;
  justify-self: flex-start;
}
.main-img {
  width: 100% !important;
  height: 100% !important;
}
.right-section-text {
  position: absolute;
  padding-top: 8%;
  padding-left: 8%;
}
.right-section-text h4 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}
.right-section-para {
  color: #bbb9b9;
  font-size: 20px;
  font-weight: 300;
  width: 92%;
  line-height: 1.5;
}
.forms {
  width: 85%;
}
.signup-heading {
  font-size: 38px;
  padding-top: 20px;
  font-weight: 500;
  color: #780024;
  text-align: center;
}
.signup-form-input {
  width: 100%;
}
.signup-form-gender {
  height: 49px !important;
  border: 1px solid #777676 !important;
  color: rgba(171, 171, 171, 1) !important;
}
.number-cont {
  display: flex;
  gap: 6%;
  width: 100%;
}
.country-code-option {
  width: 20%;
}
.signup-phone-nbr {
  width: 74%;
  border: 1px solid #777676 !important;
  border-radius: 8px !important;
}
.form-control-genderss-country {
  width: 7vw;
  height: 8vh !important;
  text-align: left;
  color: rgba(171, 171, 171, 1);
}
.form-control-genderss-country::placeholder {
  text-align: left;
  color: rgba(171, 171, 171, 1);
}
.form-control-genderss-numberr {
  width: 30vw;
}

.star {
  font-size: 44px;
  font-weight: 600;
  line-height: 66px;
  text-align: left;
  font-size: 44px;
  color: rgba(120, 0, 36, 1);
  padding-bottom: 20px;
}
.fullname-error {
  color: red;
  align-self: flex-start;
}
.pass-err {
  color: red;

  top: 30vw;
  left: 10vw;
  margin-bottom: 10px;
}
.opt-color {
  color: black;
}
.email-error {
  color: red;
  align-self: flex-start;
}
.eye {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  top: 20% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.check-1 {
  margin-top: -5px;
  border-radius: 10px;
}
/* input[type="checkbox"] {
  -webkit-transform: scale(1.2);
} */
.check-2-checkin {
  border-radius: 15px;
  height: 15vh;
  font-size: 110%;
  display: inline;
}
.span-class {
  color: #117fff;
}
.already-login {
  color: rgb(121, 1, 37);
  text-decoration: underline;
  /* margin-bottom: 4px !important; */
}
.form-control-genderss {
  width: 100%;
  height: 45px !important;
  border: 1.4px solid #717171 !important;
  color: rgb(22, 21, 21);
  font-weight: 500;
}
.form-control-genderss::placeholder {
  color: rgba(171, 171, 171, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.form-control-genderss.select.option.place {
  width: 100%;
  height: 45px !important;
  border: 1.4px solid #717171 !important;
  color: rgba(171, 171, 171, 1) !important;
  font-weight: 500;
}
.form-control-genderss.select.option.place::placeholder {
  color: rgba(171, 171, 171, 1) !important;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.select-tag::placeholder {
  color: rgba(171, 171, 171, 1) !important;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.check {
  height: 10vh;
}
.form-next-button {
  width: 188px;
  height: 47px;
  border-radius: 40px !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  background-color: rgb(121, 1, 37);
  display: flex;
  align-items: center;
  justify-content: center;
}
.req {
  color: rgba(253, 89, 89, 1);
  position: absolute;
  top: 0.5vh;
  left: 0.7vw;
}
.red {
  color: rgba(253, 89, 89, 1);
  margin-bottom: 10vh;
}
.req-iam {
  color: rgba(253, 89, 89, 1);
  position: absolute;
  top: 0.5vh;
  left: 0.5vw;
}
.form.otpbox::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: rgb(174, 172, 172);
}

.para-terms {
  width: 100vw;
}
.otp-head {
  font-size: 130% !important;
  font-weight: 500;
  text-align: center;
  width: 100% !important;
}
.otp-para {
  font-size: 100%;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 70%;
  color: rgba(82, 82, 82, 1);
}
.left-chakra {
  display: none;
}
.signup-modal {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  height: 55vh;
}
.otp-head {
  font-size: 150%;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
  width: 70%;
}
.otp-para {
  font-size: 100%;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 70%;
  color: rgba(82, 82, 82, 1);
}
.otp-input {
  text-align: center;
  border: 1px solid rgba(154, 154, 154, 1);
  font-size: 100%;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 60% !important;
  height: 50px;
  top: 343px;
  left: 491px;
  gap: 0px;
  border-radius: 9;
  opacity: 1;
}
.otp-input::placeholder {
  text-align: center;
}
.didnt {
  font-size: 100%;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  width: 70%;
}
.verify-button {
  width: 50%;
  border: none;
  gap: 0px;
  border-radius: 22.98px;
  background-color: rgba(120, 0, 36, 1) !important;
  color: rgba(255, 255, 255, 1);
  font-size: 100%;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
}
.verified-para {
  font-size: 14.58px;
  font-weight: 400;
  line-height: 21.88px;
}
.resend-otp {
  color: #7c2a43;
}

@media (min-width: 769px) and (max-width: 1150px) {
  .left-section {
    max-width: 70%;
    margin: auto;
  }
  .req {
    color: rgba(253, 89, 89, 1);
    position: absolute;
    top: 0.8vh;
    left: 1vw;
  }
  .signup-form-gender {
    height: 49px !important;
  }

  .right-bg-row {
    display: none;
  }
  .form-control-genderss {
    width: 60vw;
    height: 8vh;
    border: 1.4px solid grey;
    color: rgb(22, 21, 21);
    font-weight: 500;
  }
  .right-section {
    display: none;
  }

  .form-control-genderss.select.option.place {
    width: 60vw;
    height: 8vh;
    border: 1.4px solid grey;
    color: rgba(171, 171, 171, 1);
    font-weight: 500;
  }
  .form-control-genderss-country {
    width: 10vw;
    text-align: center;
    height: 8vh !important;
  }
  .form-control-genderss-country::placeholder {
    text-align: left;
  }
  .forms {
    width: 100%;
  }
  .check {
    height: 10vh;
  }
  .check-2 {
    margin-top: -12px;
    border-radius: 10px;
    height: 10vh;
  }

  .right-bg-cont {
    display: none;
    position: absolute;
    top: 18%;
    left: 54%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .left-chakra {
    display: block !important;
    width: 30%;
    height: 25%;
  }
  .form-control-genderss-country {
    width: 10vw;
    text-align: center;
    height: 9.5vh !important;
  }
  .form-control.genderss.select.option.place {
    width: 60vw;
    height: 9vh;
    border: 1.4px solid grey;
    color: rgba(171, 171, 171, 1);
    font-weight: 500;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .left-chakra {
    display: block !important;
    width: 30%;
    height: 25%;
  }
  .right-section {
    display: none;
  }

  .left-section {
    width: 100%;
  }
  .forms {
    width: 100%;
    padding: 18px;
  }
  .signup-form-gender {
    height: 49px !important;
    color: rgba(171, 171, 171, 1) !important;

  }
  .signup-form-gender::placeholder {
    color: rgba(171, 171, 171, 1) !important;
  }
  .form-control-genderss-country {
    width: 30vw !important;
    text-align: left !important;
    height: 9.5vh !important;
    font-size: 9px;
  }
  .form-control-genderss::placeholder {
    font-size: 15px;
  }
  .form-control-genderss-country::placeholder {
    text-align: left;
    width: 1vw !important;
  }
  .check {
    display: flex;
  }

  .para-terms {
    width: auto;
    text-align: center;
    font-size: 18px;
    align-self: center;
  }

  .form.next-button {
    width: 30vw;
    height: 8vh;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(121, 1, 37);
    margin-top: 5vh;
  }
  .form-control-genderss.select.option.place {
    width: 60vw;
    height: 9vh;
    border: 1.4px solid grey;
    color: rgba(171, 171, 171, 1);
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  .country-code-option {
    width: 33%;
  }
}
