.footer {
    width: 100;
    height: 50vh;
    background-size: cover;

}

.nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.login-btn {
    color: #F3F3F3;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.home-page-div {
    width: 100vw;
    background-size: cover;
    overflow-x:hidden;
}

.content {
    background: linear-gradient(180deg, #B88A44 0%, #E0AA3E 7%, #E0AA3E 16.5%, #F9F295 23.5%, #FFFEF2 51.5%, #F9F295 79.5%, #E0AA3E 85.5%, #E0AA3E 95%, #B88A44 100%);
    width: 100vw;
    overflow-x: hidden;
    padding: 6vw;
}
.couple-container {
    width: 90vw;
    height: 80vh;
}
.col1 {
    width: 60vw;
}


.engage-btn {
    width: 13vw;
    height: 8vh;
    left: 0.36px;
    border-radius: 18px;
    border: 1px 0px 0px 0px;
    background: rgba(120, 0, 36, 1);
    border: 1px solid rgba(243, 243, 243, 1);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(243, 243, 243, 1);
    transition: transform 0.5s ease-in-out;
}

.engage-btn:hover {
    transform: scale(1.1);
}

.animate {
    margin-bottom: -20px;

}

.img-container {
    width: 40vw;
}

.couple-img {
    width: 38vw;
    transform: perspective(500px) scaleZ(3);
    height: 77vh;
    transition: transform 0.5s ease;
}
.couple-img:hover {
    /* transform: translate(30px, 60px) !important;
    transform: scale(1.1) !important; */
    transform: skew(30deg, 20deg);
}
.rings-cont {
    display: flex;
    position: relative;
    width: Fixed (633px)px;
    height: Fixed (145px)px;
    gap: 50px;
    opacity: 0px;
}
.para {
    position: relative;
    top: -6vw;
    left: 4.5vh;
}
.choose {
    width: 86vw;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-choose {
    position: absolute;
    top: 90vh;
    left: 0vw;
    gap: 0px;
    opacity: 0px;
}

.choose-us-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
    height: 60vh;
}

.choose-us {
    color: rgba(120, 0, 36, 1);
    font-family: Libre Caslon Text;
    font-size: 48px;
    font-weight: 400;
    line-height: 76px;
    text-align: left;

}

.rings {
    background-image: url("C:\Users\hi\Downloads\Rings 1.jpg");
    background-repeat: no-repeat;
    width: 120.75px;
    height: 145px;
    gap: 0px;
    opacity: 0px;
    background-color: transparent;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 87vw;
    padding: 5vw;

}

.explore-cont {
    height: 30vh;
    align-self: center;
    width: 83vw;

}

.exploretext {
    font-family: Libre Caslon Text;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    color: rgba(120, 0, 36, 1);
}

.explore-imgs {
    width: 27vw;
    height: 50vh;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.leftexplore {
    height: 45vh;
    width: 13vw;
    align-self: flex-start;
    justify-self: flex-end;
    position: absolute;
    left: 0vw;
    top: 205vh;

}

.exploreRight {
    align-self: flex-start;
    height: 50vh;
    width: 10%;
    position: absolute;
    top: 145vh;
    left: 90vw;


}

.endorsements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.endorse-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
    width: 86vw;
    height: 70vh
}

.heading-endorse {
    font-family: Libre Caslon Text;
    font-size: 40px;
    font-weight: 400;
    line-height: 76px;
    text-align: center;
    color: rgba(120, 0, 36, 1);

}

.para-endorse {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(44, 44, 44, 1);
    width: 80vw;

}

.yukthi-cont {
    display: flex;
    width: 120%;
    justify-content: space-around;
    align-items: center;
}

.yukthi-img {
    width: 70vw;
    height: 40vh;
    top: 1905px;
    left: 270px;
    gap: 41px;
    opacity: 0px;

}

.arrows {
    width: 7vw;
    height: 15vh;


}

.righthalf {
    align-self: flex-end;
    margin-top: -100px;
}

.destination {
    color: rgba(120, 0, 36, 1);
    width: 70vw;


    font-family: Libre Caslon Text;
    font-size: 38px;
    font-weight: 400;
    line-height: 76px;
    text-align: center;

}

.destination-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    height: 70vh;
}

.destination-para {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(44, 44, 44, 1);
    width: 1196px;
    height: 120px;
    top: 2335px;
    left: 131px;
    gap: 0px;
    opacity: 0px;


}

.begin {
    width: 178px;
    height: 46px;
    top: 2507px;
    left: 644px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    padding-top: 1vh;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(120, 0, 36, 1);
    opacity: 0px;
    border-width: 0px;
    color: rgba(243, 243, 243, 1);
    transition: transform 1s ease;
}

.begin:hover {
    transform: scale(1.1);

}

.copyright {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.custom-nav {
    background-color: #780024;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 12vh;
    position: fixed;
    align-items: center;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, opacity 0.3s ease-in-out !important;
}

.navbar-blur {
    backdrop-filter: blur(10px) !important;
    opacity: 0.6 !important;
}

.collapse.navbar-collapse.navbar-cont {
    width: 318.11px;
    height: 50.18px;
    left: 988.93px;
    justify-self: flex-end;
    gap: 0px;
    opacity: 0.82px;
    color: rgba(243, 243, 243, 1);
}
.dropDown2 {
    width: 13vw;
    height: 28vh;
    background-color: #F3F3F3;
    margin-top: 22vh;
    position: absolute;
    text-align: center;
    left: 85vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 7vh !important;
    top: -90px;

}


.nav-logo {
    width: 255.57px;
    height: 38.12px;
    top: 20px;
    left: 13px;
    gap: 0px;
    opacity: 0px;
    margin-left: 5vw;
}
.bottom-logo {
    width: 255.57px;
    height: 38.12px;
    text-align: left;
    margin-left: -4vw;
    margin-top: 15vh;
}
.bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.first-bottom {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side-img-bottom {
    position: absolute;
    height: 40vh;
    width: 10vw;
    left: 90vw;
    top: 390vh;
}
.second-bottom {
    background-image: url("../../utils/011%201.png");
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #780024;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.bottom-text-1 {
    color: rgba(224, 170, 62, 1);
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    width: 23vw;
    height: 203px;
    top: 3102px;
    left: 123.59px;
    gap: 0px;
    opacity: 0px;
}
.bottom-text-1-span {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.top-bottom {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: flex-start;
}
.privacy-head {
    color: rgba(224, 170, 62, 1);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}
.privacy {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;

    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 4px;
}
.privacy-sub-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 20vh;
    width: 20vw;
    margin-right: -5vw;
}
.terms {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 15vw;
}

.contactus {
    width: 181.79px;
    height: 138px;
    top: 3096px;
    left: 613.73px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
}

.horizontal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 23vw;
}

.line {
    border-left: 0.1px solid rgba(217, 217, 217, 1);
    height: 45vh;
    width: 0.1vw;
}

.horline {
    width: 70vw;
    height: 0.2vh;
    border-top: 0.1px solid rgba(217, 217, 217, 1);
    justify-self: flex-start;
    margin-top: -18px;
}

.contact-head {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: rgba(224, 170, 62, 1);
}

.mobile {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.emailid {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.contact {
    display: flex;
    flex-direction: column;
    align-items: space;
    width: 18vw;
    margin-top: 6px;
}

.icons {
    display: flex;
    width: 10vw;
}

.privacy-cont {
    display: flex;
    justify-content: space-around;
    width: 20vw;

}

.connect {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
}

.bottomleftimg {
    width: 8vw;
    height: 20vh;
    top: 3092px;
    left: -12px;
    gap: 0px;
    opacity: 0px;
    justify-self: flex-start;
}

.appstore {
    width: 143px;
    height: 43px;
    top: 2902px;
    left: 736px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(243, 243, 243, 1);

}

.heading {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color: white;
}

.paragraph {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: white;
    width: 40vw;
}

.nav-link {
    font-size: 7px;
    font-family: poppins;
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 19px ! important;
    font-weight: bold !important;
    color: #F3F3F3;
    text-decoration: none;
    background: none;
    margin-right: 3vw;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.ring-con {
    position: relative;

}

.para-ring {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10vw;
    font-family: Libre Caslon Text;
    color: #780024;


}

.para-ring-1 {
    position: absolute;
    top: 43%;
    left: 25%;
    width: 10vw;
    font-family: Libre Caslon Text;
    text-align: center;
    color: #780024;

}

.first-row {
    display: flex;
    flex-direction: column;
    background: #780024;
    height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

}

@media (max-width:600px) {
    .couple-container {
        background-image: url("../../utils/Rectangle 4110.png");
        background-repeat: no-repeat;
        zoom: 1;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
    }

    .col1 {
        margin-left: 5;
    }

    .img-container {
        display: none;
    }

    .engage-btn {
        font-size: 0.8em;
    }

    .frame-1 {
        color: white;
    }

    .frame-2 {
        color: white;
    }

    .exploretext {
        font-family: Libre Caslon Text;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        align-self: center;
        color: rgba(120, 0, 36, 1);
    }

    .explore-imgs {
        width: 45vw;
        height: 28vh;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
    }

    .explore-imgs.religion {
        width: 50vw;
        height: 40vh;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
    }

    .explore-cont {
        height: 40vh;
        align-self: center;
        width: 150vw;
    }

    .side-choose {
        display: none;
    }

    .exploreRight {
        display: none;
    }

    .side-choose {
        display: none;

    }

    .yukthi-cont {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        align-items: center;

    }

    .yukthi-img {
        width: 40vw;
        height: 30vh;

    }

    .yukthi-2 {
        width: 25vw;
        height: 20vh;
    }

    .destination-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5vw;
        height: 60vh;
    }

    .destination-para {
        font-family: Poppins;
        font-size: 17px;
        width: fit-content;
        margin-top: -15vh;

    }

    .begin {

        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;

        text-align: center;
        border-radius: 15px;
        background-color: rgba(120, 0, 36, 1);
        color: rgba(243, 243, 243, 1);
        ;
    }

    .destination {
        color: rgba(120, 0, 36, 1);
        width: 80vw;
        font-family: Libre Caslon Text;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        line-height: 100%;
    }

    .bottomleftimg {
        display: none;
    }

    .right-side-img-bottom {
        display: none;
    }

    .bottom {}

    .first-row {
        display: flex;
        flex-direction: column;
        background: #780024;
        height: 50vh;
        width: 100vw;
        align-items: center;
        justify-content: center;

    }

    .heading {
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        color: white;
    }

    .paragraph {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        color: white;
        width: 70vw;
    }

    .connect {
        display: flex;
        width: 80vw;
        justify-content: center;
        align-items: center;

    }

    .leftexplore {
        display: none;
    }

    .second-bottom {
        height: 200vh;
        display: flex;
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
        padding-top: 0vh;
        align-items: center;
    }

    .top-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
        height: 80vh;
        align-items: flex-start;
    }

    .bottomleftimg {
        width: 30vw;
        height: 20vh;
        justify-self: flex-start;
    }

    .bottom-text-1 {
        color: rgba(224, 170, 62, 1);
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
        width: 70vw;
        height: 203px;
        top: 3102px;
        left: 123.59px;
        gap: 0px;
        opacity: 0px;
    }


    .bottom-text-1-span {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
        color: rgba(255, 255, 255, 1);

    }

    .horizontal {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        width: 55vw;
    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 55vw;
        margin-top: 6px;
    }

    .contact-head {
        font-family: Poppins;
        font-size: 23px;
        width: 70vw;
        font-weight: 700;
        text-align: left;
        color: rgba(224, 170, 62, 1);

    }

    .mobile {
        width: 50vw;
    }

    .emailid {
        width: 70vw;
    }

    .privacy-sub-cont {
        width: 70vw;
    }

    .privacy-head {
        width: 50vw;
    }

    .privacy {
        width: 50vw;
    }

    .terms {
        width: 50vw;
    }

    .horline {
        width: 60vw;
        height: 0.2vh;
        border-top: 0.1px solid rgba(217, 217, 217, 1);

    }

}