.scrollable-list-container {
  width:auto;
  height: 60vh;
}
.scrollable-list-container::-webkit-scrollbar{
  display: none;
}
.right-chakra{
  top: 310%;
  right: 0vw;
}
.right-circle{
  top: 173vh;
  right: 0vw;
  zoom: 0.8;
}
.bg-carousel{
  width: 60vw;
}
.animate-arrow-flip{ -moz-transform: scale(-1, -1);margin-top: 10%; -o-transform: scale(-1, -1); -webkit-transform: scale(-1, -1); transform: scale(-1, -1); }
.scroll-container{
  overflow-x: scroll;
  width: 93vw;
}
.scroll-div{
  width: 1000vw;
  display: flex;
}
.scroll-div::-webkit-scrollbar{
display: none !important;
overflow-x: hidden;
}
.scroll-container::-wekit-scrollbar{
  display: none !important;
  overflow-x: hidden;
}
.clip{
  clip-path: inset(0 0 0 100px);
}
.clip-right{
  clip-path: inset(0 100px 0 0);
}
.scrollable-list { margin-top: 10vh; overflow-x: auto; scroll-behavior: smooth; white-space: nowrap; width: 75vw; height: 60vh; overflow-y: hidden; }
.scrollable-list::-webkit-scrollbar{
  display: none;
}
.scr::-webkit-scrollbar{
  display: none !important;

}
.scrollable-list-item {
  flex: 0 0 33.33%; /* Adjust based on the number of items per scroll */
  margin: 0 5px; /* Optional: add some spacing between items */
  
}
.scrollable-list-item::-webkit-scrollbar{
  display:none;
}
.card-bg{ background-image: url("./assets/Card-Slide01\ 1.png"); background-repeat: no-repeat; background-size: cover; width: 31vw; height: 55vh; position: relative; border-radius: 10px; object-fit: cover; }
.card-text{ font-family: Poppins; font-size: 25px; line-height: 32px; text-align: left; position: absolute; top: 5.5vw; left: 4vw; color: #780024;font-weight: 900 !important;
}
.card-last-text{
  left: 3vw;
}
.para-div{ position: absolute; top: 20vh; width: 25vw; left: 4vw; font-size: 20px !important; }
.para-explore{ color: #545353; font-family: Poppins; font-size: 16px; font-weight: 400; line-height: 32px; text-align: left; }
.expore-btn{ border: 1px solid #780024; height: 7vh; width: 12vw; border-radius: 20px; color: #FFFFFF; position: absolute; top: 44vh; left: 4vw; color: #780024; transition: 400ms  ease-in; }
.expore-btn:hover{ transform: scale(1.1); background-color:#E0AA3E; color: #0e0d0d; font-weight: 900; }
.btn-text{ font-family: Poppins; font-size: 20px; font-weight: 500; line-height: 21px; text-align: left; }
.endorse-square{ background-image: url("./assets/square card 1.png"); background-repeat: no-repeat; background-size: cover; width: 280px; height: 280px; border-radius: 30px 0px 0px 0px; position: relative; }

.endorse-heading{ position: absolute; top: 7vh; color: #780024; }
.customer-img{
 height: 35%;
 position:absolute;
 top: 27.5%; 
}
/* .endorse-text-para{ position:absolute; top: 63%; height: 50vh; width: 3vw; left:5cap; font-family: Poppins; font-size: 0.8vw; font-weight: 400; align-self: center; letter-spacing: -0.01em; text-align: center; color: #D9D9D9; } */
.endorse-text-para{ position:absolute; font-family: Poppins; font-size: 69%; top: 63%; left:2%; width: 100%; text-align:center !important; color: #D9D9D9; }   
.endorse-stars{ position:absolute; top: 78%; }
.nav {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.home-page-div { width: 100vw; background-size: cover; overflow-x: hidden !important; }
.home-page-div::-webkit-scrollbar{
  display: none;
}
.content {
  background: linear-gradient(180deg, #B88A44 0%, #E0AA3E 7%, #E0AA3E 16.5%, #F9F295 23.5%, #FFFEF2 51.5%, #F9F295 79.5%, #E0AA3E 85.5%, #E0AA3E 95%, #B88A44 100%);
  width: 100vw;
  padding: 6vw;
   overflow-x: hidden;
}

.couple-container {
  width: 150vw;
  height: 90vh;
  padding-bottom: -100px !important;
  padding-top: 15vh;
}
.col1 { width: 50vw; height: 47vh; display: flex; flex-direction: column; }
.engage-btn { width: 35%; height: 8vh; left: 0.36px; border-radius: 18px; background: rgba(120, 0, 36, 1); border: 1px solid rgba(243, 243, 243, 1); font-family: Poppins; font-size: 24px; font-weight: 600; text-align: left; color: rgba(243, 243, 243, 1); transition: transform 0.5s ease-in-out; }
.engage-btn:hover {
  transform: scale(1.1);
}
.animate {
  margin-bottom: -20px;
}
.img-container {
  width: 45vw;
}
.couple-img { width: 45vw; transform: perspective(500px) scaleZ(3); height: 94vh; zoom: 1.05; transition: transform 0.5s ease; }
.couple-img:hover {
  transform: translate(20px, 15px) scale(1.07);
}
.para {
  position: relative;
  top: -6vw;
  left: 4.5vh;
}
.choose {
  width: 100vw;
  opacity: 0px;  
}
.side-choose { position: absolute; top: 117vh; left: 0vw; }
.choose-us-cont { justify-self: center; width:80vw }
.choose-us { color: rgba(120, 0, 36, 1); font-family: Libre Caslon Text; font-size: 50px; font-weight: 500 !important; text-align: center; width: 80vw ; }
.rings { background-image: url("./assets/Rings\ 1.png"); background-repeat: no-repeat; width: 120.75px; height: 145px; text-align: center; background-color: transparent; }
.explore {
  width: 87vw;
  padding: 5vw;
  margin-bottom: 14vh;  
}
.explore-cont { height: 30vh; align-self: center; display:none; }
.exploretext { font-family: Libre Caslon Text; font-size: px; font-weight: 400; text-align: center; align-self: center; color: rgba(120, 0, 36, 1); }
.explore-imgs { width: 27vw; height: 50vh; border: 1px 0px 0px 0px; }
.leftexplore { height: 45vh; width: 13vw; align-self: flex-start; justify-self: flex-end; position: absolute; left: 0vw; top: 230vh; }
.exploreRight { align-self: flex-start;zoom: 1; height: 50vh; width: 20%; position: absolute; top:78vh;right: 0vw; z-index: 2000; }
.para-endorse { font-family: Poppins; font-size: 18px; font-weight: 400; line-height: 30px; text-align: center; color: rgba(44, 44, 44, 1); width: 80vw; }
.yukthi-cont { display: flex; width: 120%; justify-content: space-around; align-items: center; }
.animate-arrows{
  width: 7vw;
  height: 15vh;
}
.destination { color: rgba(120, 0, 36, 1); width: 70vw; font-family: Libre Caslon Text; font-size: 38px; font-weight: 400; line-height: 76px; text-align: center; }
.destination-cont { padding: 5vw; height: 60vh; }
.begin { width: 178px; height: 46px; font-family: Poppins; margin-top: 4vw; font-size: 24px; font-weight: 600; padding-top: 1vh; text-align: center; border-radius: 15px; background-color: rgba(120, 0, 36, 1); opacity: 0px; border-width: 0px; color: rgba(243, 243, 243, 1); transition: transform 1s ease; }
.begin:hover { transform: scale(1.1); }
.custom-nav { background-color: #780024; display: flex; justify-content: space-around; width: 100vw; height: 12vh; position: fixed; align-items: center; transition: background-color 0.3s ease, backdrop-filter 0.3s ease, opacity 0.3s ease-in-out !important; }
.navbar-blur { backdrop-filter: blur(10px) !important; opacity: 0.6 !important; }
.collapse.navbar-collapse.navbar-cont { width: 318.11px; height: 50.18px; left: 988.93px; justify-self: flex-end; gap: 0px; opacity: 0.82px; color: rgba(243, 243, 243, 1); }
.dropDown2 { width: 13vw; height: 28vh; background-color: #F3F3F3; margin-top: 22vh; position: absolute; text-align: center; left: 85vw; color: black; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-left: 7vh !important; top: -90px; }
.nav-logo { width: 255.57px; height: 38.12px; top: 20px; left: 13px; margin-left: 5vw; }
.contact-head { font-family: Poppins; font-size: 22px; font-weight: 700; text-align: left; color: rgba(224, 170, 62, 1); }
.mobile { font-family: Poppins; font-size: 16px; font-weight: 500; text-align: left; color: rgba(255, 255, 255, 1); }
.emailid { font-family: Poppins; font-size: 16px; font-weight: 500; text-align: left; color: rgba(255, 255, 255, 1); }
.contact { display: flex; flex-direction: column; align-items: space; width: 18vw; margin-top: 6px; }
.icons { display: flex; width: 10vw; }
.privacy-cont { width: 20vw; }
.connect { width: 20vw; align-self: center; }
.appstore { width: 143px; height: 43px; top: 2902px; left: 736px; gap: 0px; opacity: 0px; background-color: rgba(243, 243, 243, 1); }
.heading { font-family: Poppins; font-size: 25px; font-weight: 500; line-height: 19px; text-align: center; color: white; }
.paragraph { font-family: Poppins; font-size: 14px; font-weight: 400; line-height: 30px; text-align: center; color: white; width: 42vw; }
.nav-link { font-size: 7px; font-family: poppins; display: block; padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x); font-size: 19px ! important; font-weight: bold !important; color: #F3F3F3; text-decoration: none; background: none; margin-right: 3vw; border: 0; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
.ring-con { position: relative; width: 70vw; margin-top: 5vh; }
.para-ring-1 { position: absolute; top: 40%; left: 20%; width: 9vw; font-family: Libre Caslon Text; text-align: center; color: #780024; font-size: 3vw; }
.first-row { background: #780024; height: 49vh; width: 100vw; }
.top-para{
  color: #940221;
font-size: 4.5vw;
width: 55vw; 
}
.top-para-para{ color: #780024; font-size: 1.5vw;width: 50vw;  }
.starss{
  width: 20vw !important ;
}
@media (max-width:599px) and (min-width:350px) {
  .right-chakra{
    display: none;
  }
  .content {
    width: 100vw;
    height:auto;
    padding-top:-20vw !important

}
  .right-circle{
    display: none;
  }
  .btn-text{
  font-size: 3.5vw;
  }

.scroll-container{
  overflow-x: scroll;
  width: 100vw;
}
.scroll-div{
  width: 1000vw;
  display: flex;
  
}
  .endorsements{
    margin-top: -15vh !important;
    margin-bottom: 0px;
  }
  .couple-container {
  background-repeat: no-repeat;
  zoom: 1.1;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 4vw;
  margin-right: 0vw;
  padding-top: -30vw !important;
  }
  .img-container{
      width: 100vw;
      height: 70vh;
  }
  .para-ring {
  position: absolute;
  top: 50%;
  left: 13%;
  width: 7vw;
  font-size: small;
  font-family: Libre Caslon Text;
  color: #780024;
}
  .col1 {
      top: 50vh;
      z-index: 1;
      width: 65vw;
      color: #FFFEF2;
      height: 31vh;
      left: 10vw;
      position: absolute;
  }
  .couple-img{
    width: 90vw;
    zoom: 1.1!important;
      height:70vh;
      
      position: absolute;
      
  }
  .engage-btn {
      font-size: 3.5vw;
      width: 30vw !important;
      justify-content: space-between !important;
      height: 23%;
  }
  
  .choose-us {
      color: rgba(120, 0, 36, 1);
      font-family: Libre Caslon Text;
      font-size: 28px;
      font-weight: 500 !important;
      text-align: center;
      width: 80vw ;
      margin-bottom: 5vh !important;
      margin-top: 10vh!important;
  }
  .frame-1 {
      color: white;
  }

  .frame-2 {
      color: white;
  }

  .exploretext {
      font-family: Libre Caslon Text;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      align-self: center;
      color: rgba(120, 0, 36, 1);
  }

  .explore-imgs { width: 45vw; height: 28vh; gap: 0px; border: 1px 0px 0px 0px; opacity: 0px; }

  .explore-imgs.religion {
      width: 50vw;
      height: 40vh;
      gap: 0px;
      border: 1px 0px 0px 0px;
      opacity: 0px;
  }
  
  .side-choose {
      display: none;
  }

  .exploreRight {
      display: none;
  }

  .side-choose {
      display: none;
  }
  .yukthi-cont {
      display: flex;
      width: 100vw;
      justify-content: space-around;
      align-items: center;

  }
  .destination-cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 5vw;
      height: 60vh;
      margin-top: -4vh;
      margin-bottom: 50vh
  }
  .destination-para {
      font-family: Poppins;
      font-size: 17px;
      width: fit-content;
      margin-top: -15vh;
  }
  .begin { font-family: Poppins; font-size: 24px; font-weight: 600; text-align: center; border-radius: 15px; background-color: rgba(120, 0, 36, 1); color: rgba(243, 243, 243, 1); margin-top: 8vh !important;}
.destination { color: rgba(120, 0, 36, 1); width: 80vw; font-family: Libre Caslon Text; font-size: 35px; font-weight: 400; text-align: center; line-height: 100%; }
  .card-bg{ background-image: url("./assets/Card-Slide01\ 1.png"); background-repeat: no-repeat; background-size: cover; width: 50vw; height: 42vh; position: relative; border-radius: 10px; object-fit: cover; align-self: center; }
  .arrows{
      display: none;
  }
  .right-arrow{
      display: none;
  }
  .animate-arrow-flip{
    display: none;
  }
 .expore-btn{
     height: 12%;
     top: 79% !important;
     left: 6vw;
     width: 55% !important;
 }
 .explore-btn-big{ width: 33vw !important; height: 6vh; top: 37vh; left: 6vw; top: 70% !important; }
  .first-row { display: flex; flex-direction: column; background: #780024; height: 50vh; width: 100vw; align-items: center; justify-content: center; }
  .heading {
      font-family: Poppins;
      font-size: 25px;
      font-weight: 500;
      line-height: 40px;
      text-align: center;
      color: white;
  }
  .paragraph {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      color: white;
      width: 70vw;
  }
  .connect {
      display: flex;
      width: 80vw;
      justify-content: center;
      align-items: center;
  }
  .leftexplore {
      display: none;
  }
  
  .contact {
      display: flex;
      flex-direction: column;
      width: 55vw;
      margin-top: 6px;
  }

  .contact-head {
      font-family: Poppins;
      font-size: 23px;
      width: 70vw;
      font-weight: 700;
      text-align: left;
      color: rgba(224, 170, 62, 1);
  }

  .mobile {
      width: 50vw;
  }

  .emailid {
      width: 70vw;
  }
  .para-div{
  width: 35vw;
  top:37%;
  left: 12%;
  
  }
  .para-div-big{
      font-size: 18px !important;
      top: 35% !important;
      left: 15%;
      width: 36vw;
  }
  .card-text{
    font-size: 3.8vw;
    top: 17%;
    left: 12%;
    font-weight: bolder;
    position: absolute;
 }
 .card-text-big{
     font-size: 4vw;
     top: 14%;
    left: 15%;
    position: absolute;
 }
  .para-explore{
    font-size: 3vw !important;
      line-height: 20px;
    
  }
  .choose-us {
      color: rgba(120, 0, 36, 1);
      font-family: Libre Caslon Text;
      font-size: 28px;
      font-weight: 500 !important;
      text-align: center;
      width: 80vw ;
      margin-bottom: 3vh !important;
  }
  .top-para{
      font-family: Poppins;
font-size: 23px;
font-weight: 500;
text-align: left;
color:white;
width: 64vw;
  }
  .top-para-para{
      color:white;
      font-size: 2.5vw;
  }
  .endorse-text-para{
      font-size: 60%;
      top: 63%;
      
      text-align: center;
  }
  .customer-img{
      top: 28.5%;
      height: auto;
  }

  
}

@media (min-width:600px) and (max-width:900px){
  .right-circle{
    top: 182vh;
    right: 0vw;
    zoom: 0.8;
  }
  .begin{
    margin-top: 5vh;
  }
  .expore-btn{
     width:55%;
     position: absolute;
     top:79.5%;
     left: 15%;
     height:10%
  }
 
 .engage-btn{ width: 62%;height: 6.5vh; font-size: medium; }
 .couple-img{ zoom: 1.2!important; height: 70vh; margin-left:-11%; margin-top: 5vh!important; }
 .side-choose{
  display: none;
 }
 .exploreRight{
  display: none;
 }
 .explore{
  margin-bottom: 10vh !important;
 }
 .destination-cont{
  height: 65vh;
 }
 .explore-cont{ width: 100vw; position: relative; }
 .choose-us-cont{ margin-top: 10%; }
 .choose-us{
  font-size:4.5vw;
  width: 85vw !important;
 }
 .card-bg{ width: 40vw; height: 43vw; zoom: 0.8; }
 .para-div{ top: 33%; width: 70%;left: 15%; }
 .card-text{
      top: 16.5%;
      left: 6vw;
      font-size: 15px;
 }
 .para-explore{
     font-size: 13px;
     top: 10%;
     
     line-height: 25px !important;
 }
 .right-side-img-bottom{
  display: none;
 }
 
 .right-chakra{
  display: none;
 }
 .right-circle{
  display: none;
 }
 .arrows{ zoom: 0.75; }
 .right-arrow{zoom: 0.75; margin-top: 10%; }
 .animate-arrow-flip{zoom: 0.75;margin-top: 10%;}
 .leftexplore{ display: none; }
 .col1{ z-index: 1; left: 5vw; top: 48%; position:absolute; color: #F3F3F3; height: 40vh; width:30vw }
  .top-para-para{ font-family: Poppins; font-size: 12px; font-weight: 400; text-align: left; width: 38vw !important;  }
  .customer-img{ top: 28%; width: 45vw; height: 35%; }
  .couple-img{ height:70vh; width: 50vw;}
  .couple-container{ width:150vw; height: 70vh;display: flex;justify-content: space-between; margin-left: 50vw;}
  .img-container{
      width: 50vw;
      height:70vh;
  }
  .endorse-text-para{
    font-size: 68%;
    top: 63%;
    left:1%;
    width: 100%;
    text-align:center !important
  }   
  .endorse-stars{
      top: 78.8%;
  }
  .top-para{ font-family: Poppins; color: #940221;font-size: 26px; font-weight: 500; text-align: left; width: 60vw; }
}
@media (min-width:180px) and (max-width:350px){
  
  .right-chakra{
    display: none;
  }
  .right-circle{
    display: none;
  }
.scroll-container{
  overflow-x: scroll;
  width: 100vw;
}
.scroll-div{
  width: 1000vw;
  display: flex;
}

  .endorsements{
    height:90vh
  }
  .engage-btn{ width: 35vw; font-size: 3.4vw; padding: 10px; height: 17%}

  .endorse-text-para{
    font-size: 62%;
    top: 63%;
    
    text-align: center;
}
  .endorse-stars{
          position:absolute;
          top: 45.5vh;
      }
      .choose {
        width: 100vw;
        opacity: 0px;  
        margin-bottom: -20vh !important;
      }
      .customer-img{
          top: 14.8vh;
          width: 45vw;
          height: 17.5vh;
      }
  .side-choose {
     display: none;
  }
  .top-para{ font-family: Poppins; font-size: 120%; font-weight: 500; text-align: left; color:white; width: 80vw; }
  .explore{
      margin-top: 25vh;
      height: 60vh;
  }
  .exploretext{ color: rgba(120, 0, 36, 1); font-family: Libre Caslon Text; font-size: 26px; font-weight: 500 !important; line-height: 76px; text-align: left; }
  .top-para-para{ font-family: Poppins; font-size: 50%; font-weight: 400; text-align: left; width: 70vw; color: #F3F3F3; }
  .col1 { width: 30vw; position: absolute; z-index: 1000; left:12vw; top: 36vh; height: 35vh; }
  .couple-img{ width: 90vw; height: 70vh; }
  .couple-container{ width:100vw;margin-bottom: 5vh !important; height: 60vh; zoom: 1.2;padding-top:-50vh !important; margin-top: 5vh !important;}
  .img-container{
      width: 90vw;
      height: 70vh;
  }
  .choose-us {
      color: rgba(120, 0, 36, 1);
      font-family: Libre Caslon Text;
      font-size: 28px;
      font-weight: 500 !important;
      text-align: center;
      width: 85vw ;
      
  }
.lefthalfimg{
  display: none;
}
.card-bg{
  background-image: url("./assets/Card-Slide01\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 53vw;
  height: 35vh;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.card-bg-big{
  width: 53.8vw;
  height: 40vh;
  align-self: center;
}
.card-text{
 font-size: 3.6vw;
 top: 13%;
 left: 13%;
}

.para-div{ width: 40vw; top:33%; left: 7vw; }
/* .para-div-big{ width: 40vw; top:14vh; left: 9vw; } */
.para-explore{ width: 39vw; font-size:54%; top: 12vw ; left: 8vw; line-height: 3.8vw; text-align: left; }
.exploreRight { display: none; }
.leftexplore{ display: none; }
.expore-btn{ width: 26vw; height: 4.3vh; top: 80%; left: 7vw; }
/* .explore-btn-big{ width: 32vw; height: 5vh; top: 30vh; left: 7vw; } */
.btn-arrow{ width: 10vw; }
.btn-arrow.btn-arrow-big{ width: 10vw; }
.btn-text.btn-text-big{ font-size: 9px; width: 15vw ; padding: 1vh; }
.btn-text{ font-size: 9px; width: 15vw ; padding: 1vh; }
.scrollable-list-container{ width: 100vw;height: 150vh !important; }
.scrollable-list{ width: 100vw; height: 40vh ; }
.endorse-square{ zoom: 0.7; object-fit: contain; }
.arrows{
  display: none;
}
.right-arrow{
  display: none;
}
.animate-arrow-flip{
  display: none;
}
.destination-cont {
  padding: 5vw;
  margin-top: 10vh;
  height: 120vh;
  margin-bottom: 40vh;
}
.begin{
  width: 40vw;
  height: 7vh;
  font-size: 15px;
  margin-top: 2vh;
}
.right-side-img-bottom {
  display: none !important;
}
.endorse-stars{
  top: 80%;
}
.animate{
  display: none !important;
}

  .para-ring {
    position: absolute;
    top: 49%;
    left: 16%;
    width: 11vw;
    font-size: 3vw;
    font-family: Libre Caslon Text;
    color: #780024;
}
}
@media (max-width:1025px){
  .right-chakra{
   display: none;
  }
  .right-circle{
    display: none;
  }
  .leftexplore{
    display: none;
  }
  .side-choose{
    display: none;
  }
  .exploreRight{
    display: none;
  }

}




