.pageContainer{
    height: 90%;
}
.pageFooter {
    height: 6%;
    background-color: #780024 !important;
}
.dashbcg{
    background-image: url('../../Assets/dashboardBcg.svg') !important;
    background-repeat: no-repeat;
    background-position: right top;
    // background-size: 1445px 100%;
    background-color: #D9D9D9 !important;
}
.navbck{
    background-color: #780024 !important;
    color: white !important;
}

