.main {
  overflow-x: hidden;
}

.background-image {
  width: 40% !important;
  height: 70vh !important;
  background-size: cover;
  background-repeat: no-repeat;
}







.back-button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  justify-content: end; 
  text-align: center;
 padding: 6px;
}

.icone {
 display: flex;
 flex-direction: row;
 justify-content: right;
 font-size: 25px;
 padding-top: 8px;
}
.icon-text{
  display: flex;
  padding-top: 1px;
  font-size: 18px;
}
.text{
  display: flex;
  justify-content: left; 
}
.mobile-header {
  display: flex;
  padding: 10px;
}


.header-text {
  color: #800020;
  font-size: 24px;
  font-weight: bold;
}






.cards-bg {
  background: transparent;
  width: 40%;
  height: 70vh !important;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.icons {
  font-size: 30px;
  color: #FFFFFF;
  cursor: pointer;
}

.sub-parent{
  display: flex;
  
}

.side-image {
  width: 100px;
  height: 100px;
 
}
.side-images-col .image {
  border-radius:5%;
  border: none;
 

}
.back-button{
  border: 1px solid black;
}
.headers{
  display: flex;
  justify-content:space-between;
  padding-top: 8px;
}
.text{
  color: #800020;
  font-family: bold;
}
.key{
  display: inline-block;
  width: 50% !important;;
 text-align: left!important;
}
.key2{
  display: inline-block;
  width: 50% !important;;
 text-align: right!important;
}
/* Media query for mobile view */
@media (max-width: 768px) {
  .mobile-header {
    display: flex;
  }

  .main-row {
    flex-direction: column;
  }

  .side-images-col {
     width:60%;
     height: 80%;
    flex-direction: column;
    justify-content: center;    
    order: 1;

  }
.side-images-col .image{
  border: none;
  margin: 0;
  padding: 0;
  transform: translateY(40px);
}
  .cards-bg {
    width: 95% !important;
  }

  .sub-parent {
    display: flex !important;
    flex-direction: row !important;
  }
  
  
.background-image{
  width: 390px!important;
  height:350px;
}
.back-icon{
  display: block;
 flex-direction: row;
 text-align: center;
 justify-content: space-between;
}  
.pt-1{
  font-size: 25px;
  color: #800020;
}
.icons {
  font-size: 30px;
  color: #FFFFFF;
  cursor: pointer;
}
}


