.ComingSoon {

    background-image: url('../../Assets/ComingSoonBck.svg') !important;
    background-position: center;
}

.CSanimation {
    color: #780024;
    font-size: 55px;
    font-weight:400;
}
.sttext{
    color: #780024;
    font-size: 22px;
    font-weight:400;
}
.psstyle{
    position: relative;
    right: 42px;
}
.iconalign{
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}